!!!
%head
  :plain
    <link href="//gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Traity - Decentralized Reputation Demo</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width: 900px)" href="/assets/css/desktop.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 899px)" href="/assets/css/mobile.css" />
    <link href="/assets/css/genericons.css" type="text/css" rel="stylesheet" />
    <link href="/assets/css/syntax.css" type="text/css" rel="stylesheet" />
    <link href="/assets/css/traity.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fenix:400,400italic">
    <link rel="apple-touch-icon" href="/assets/images/icon.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
    <!-- Theme Color for Chrome on Android Lollipop -->
    <meta name="theme-color" content="#7E9576">

  -# :sass
  -#   header.clean
  -#     background: #04BAD1

  -#   .reviews
  -#     max-height: 400px
  -#     overflow: scroll

  -#   code.sort
  -#     display: inline-block !important
  -#     max-width: 300px !important
  -#     overflow: hidden !important
  -#     text-overflow: ellipsis !important
  -#     vertical-align: middle
  -#   label
  -#     width: 150px
  -#     display: inline-block
  -#     margin-bottom: 15px

  = stylesheet_tag 'application'
%body
  %header.clean{class:"clean", style:"height: 350px; background-image: url(/assets/images/cover.jpg); background-attachment: scroll;", data_stellar_background_ratio:"0.5", data_stellar_horizontal_offset:"50"}
  -# {% include top.haml %}
  %a{href:"{{ site.url }}{{ site.baseurl }}"}
    #home-title{class:"site-icon-page", style:"background-image: url(/assets/images/icon.png);", data_stellar_ratio:"0.7"}
  #post-info{style:"bottom: 30px; text-align: center; line-height: 45px;", data_stellar_ratio:"0.7"}
    %h1 page.title

#middle
  #article
    = yield

%footer.clean{style: 'background-position: bottom; bottom: 0; z-index: 4; position: absolute; height: 60px;'}
-# <footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; bottom: 0; z-index: 4; position: absolute; height: 60px; {% if site.parallax != true %}background-attachment: scroll;{% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
-# <p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
-# </footer>
-# %body
-#   %header.main-header
-#     .wrapper.clearfix
-#       %a.main-logo
-#         %img{alt: "Traity", src:"https://d21utl1jejzb41.cloudfront.net/assets/svg/logo-16d2b9075dd7a8384de2d47527e01593.svg"}
-# 
-#       - if logged_in?
-#         %a#logout.right{href: '/logout'} Logout
-# 
-# .wrapper
-#   %h1 BlockChain reviews
-#   = yield
-# 
-# #footer.row
